*{
    box-sizing: border-box;
}

body{
    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 100%;
    background-color: #2B2B2B;
}



/* Text Style */

p{
    color: white;
}
.h1{
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    font-size: 67px;
    color: white;
}
.h2{
    font-size: 38px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    color: white;
}
h6{
    color: white;
}
.h7{
    color: white;
    font-size: 22px;
}
.h8{
    font-family: 'Space Mono', monospace;
    font-size: 28px;
}
.p1{
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 23px;
}
.p2{
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 22px;
}
.span1{
    color: #858584;
}
.span2{
    font-family: 'Space Mono', monospace;
    font-size: 16px;
}
.p9{
    color: #858584;
    font-size: 16px;
}
.h14{
    font-family: 'Space Mono', monospace;
    color: white;
    font-size: 22px;
}
.h15{
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    font-size: 51px;
    color: white;

}
.p66{
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #CCCCCC;
}
hr{
    border: 0;
    clear:both;
    display:block;
    width: 96%;               
    background-color:white;
    height: 1px;
}
.p44{
    font-size: 38px;
    font-family: 'Space Mono', monospace;
    font-weight: 700px;


}
.p43{
    font-size: 12px;
    font-family: 'Space Mono', monospace;
}




/* DIVS */

.div2{
    display: none;
}
.div3{
    display: none;
}
.div6{
    font-family: 'Space Mono', monospace;
}
.div99{
    background-color: #3B3B3B;
    margin-top: 90px !important;
}
.div33{
    position: relative;
}
.div98{
    background-color: #3B3B3B;
    margin-top: 100px !important;
}
.div90{
    background-image: url(nftt.png);
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.div55{
    background-color: #3B3B3B;
    opacity: 0.9;
}
.div31{
    margin-top:500px;
}
.div32{
    margin-top: 500px;
}



/* Buttons */

.btn1{
    background-color: #A259FF;
    color: white;
    width: 224px;
}
.btn4{
    background-color: #A259FF;
    color: white;
    font-size: 14px;
    width: 130px;
 }
 .btn5{
    background-color: #A259FF;
    color: white;
    margin-top: -56px;
    margin-left: 260px;
    position: absolute !important;
    width: 211px;

 }
 .btn6{
    background-color: #A259FF;
    color: white;
    display: none;
 }
 .btn8{
    background-color: #3B3B3B;
    color: white;
    width: 160px;
 }
 .btn9{
    background-color: white;
    color: black;
    width: 200px;

 }
 .btn10{
    border: 1px solid #A259FF;
    background-color: transparent;
    color: white;
    width: 200px;
 }
 .btn11{
    border: 1px solid #A259FF;
    background-color: transparent;
    color: white;
    display: none;
 }
 .btn12{
    border: 1px solid #A259FF;
    background-color: transparent;
    color: white;
    width: 187px;
 }
 .btn13{
    border: 1px solid #A259FF;
    background-color: transparent;
    color: white;
    width: 100%;
    display: none;
 }



 /* Navbar */

 .navbar-toggler {
    border: none;
 }
 ul{
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
}
.navbar{
    color: white;
}
.offcanvas-body, .offcanvas-header{
    background-color: #2B2B2B;
}



/* CARDS */

.card {
    border: none;
    background-color: #2B2B2B;
}
.card-title{
    color: white;
}
.body1{
    background-color: #3B3B3B;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.body2{
    background-color: #2B2B2B;
}
.card3{
    background-color: #3B3B3B;
}



/* Images */

.img1{
    margin-left: -50px;
}
.img2{
    filter: blur(1.5px)
}





/* RESPONSIVE */

@media screen and (max-width: 768px){
    .card1{
        float: start;
    }
    .h1{
        font-size: 28px;
    }
    .p1{
        font-size: 16px;
    }
    br{
        display: none;
    }
    .div1{
        display: none;
    }
    .div2{
        display: initial;
    }
    .div3{
        display: initial;
    }
    .div5{
        display: none;
    }
    .btn1{
        width: 100%;
    }
    .div4{
        display: flex;
    }
    .h0{
        display: none;
    }
    .img1{
      margin-left: 5px
    }
    .img9{
        height: 255px;
        width: 315px;
        width: 100%;
    }
    .div99{
       background-color: #2B2B2B;
       margin-top: 50px !important;
    }
    .btn6{
        display: initial;
    }
    .btn5{
        display: none;
    }
    .email1{
        width: 100% !important;
    }
    .btn10{
        display: none;
    }
    .btn11{
        display: initial;
    }
    .btn12{
        display: none;
    }
    .btn13{
        display: initial;
    }
    .div31{
        margin-top: 30px;
    }

 
}